<div class="main-body">
    <h1>Conhecendo o jogo</h1>
    <table>
        <thead>
            <tr>
                <td>
                    Jogadores
                </td>
            </tr>
        </thead>

    </table>


</div>

